@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+EAN13+Text&display=swap');

tr:not(tr:last-child) > td:nth-child(2) {
    font-family: "Libre Barcode EAN13 Text";
    font-size: 5em;
    line-height: 1em;
    text-align: center;
}

#editDialog {
    border: none;
    box-shadow: 0 30px 50px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}

td.warehouseWarning {
    color: red;
}
td.warehouseWarning::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: '\f071';
    margin-left: 5px;
}