@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap');

tr:not(tr:last-child) > td:nth-child(2) {
    font-family: "Libre Barcode 39 Text";
    font-size: 3em;
}

#editDialog {
    border: none;
    box-shadow: 0 30px 50px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
}